@import "tailwindcss";

:root {
  --background: #787b7e;
  --foreground: #020504;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-baseLight: #020504;
  --color-baseDark: #fffce1;
  --color-lightDarker: #454545;
  --color-darkLighter: #ababab;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #090a05;
    --foreground: #fffce1;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.grain-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  background-image: url("https://cdn.prod.website-files.com/62b5ead4af534cf2339019ee/62c71c6208f348b639a8e347_Grain.gif");
  background-repeat: repeat;
  opacity: 0.06; /* Adjust based on visibility preference */
}